/* FONTES*/
/*@font-face {
	font-family: "CMUSerifRoman";
	src: url('/cmunbx.ttf') format('truetype');
}

@font-face {
  font-family: "CMUSerifBold";
  src: url('/cmunrm.ttf') format('truetype');
}*/


/* Reset de estilos */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body{
	color: #333;
	background: #f2f2eb;
	font-size: 21px;
	font-family: 'CMUSerifRoman';
	font-weight: normal;
	font-style: normal;
}

/* 
-----------
CONTAINERS
-----------
 */
.container{
	width: 75%;
	margin: auto;
}

.center{
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
	text-align: center;
}

.center-navbar{
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
	text-align: center;
}

.margin{
	margin-top: 20vw;
	margin-bottom: 20vw;
}

.padding{
	padding-top: 20px;
	padding-bottom: 20vw;
}

.padding-navbar{
	padding-top: 2vh;
	padding-bottom: 0vh;
}

.footer{
	font-size: 18px;
	padding-bottom: 0.6em;
}


/* 
--------------
TEXT ELEMENTS
--------------
 */
.bold{
    font-family: 'CMUSerifBold';
    font-weight: bold;
    font-style: normal;
}

.title-bold{
	font-family: 'Work Sans', sans-serif;
}


h0{
	color: black;
	font-size: 70px;
}

h1, h2, h3 {
	color: black;
    font-family: 'CMUSerifRoman';
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 30px;
	line-height: 1;
}

h3 {
    font-size: 24px;
}

ul{
	margin-top:1em;
    padding-left: 1em;	
}

li{
	padding-bottom:0.3em;
}

a{
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #bb0000;
}

a:active {
	color: #bb0000;
}


/* 
----------
ELEMENTOS
----------
 */
.my-hr {
  height: 1px;
  border: none; /* Remove a borda padrão */
  background-color: #000; /* Define a cor de fundo */
}

/* 
--------
FLEXBOX
--------
 */
.box{
	display: flex;
}

.box-100 {
	display: flex;
	flex: 100;
}

.box-80 {
	display: flex;
	flex: 80;
}

.box-70 {
	display: flex;
	flex: 70;
	flex-direction: column;
}

.box-65 {
	display: flex;
	flex: 65;
	flex-direction: column;
}

.box-60 {
	display: flex;
	flex: 60;
}

.box-40 {
	display: flex;
	flex: 40;
	flex-direction: column;
}

.box-35 {
	display: flex;
	flex: 35;
	flex-direction: column;
}

.box-30 {
	display: flex;
	flex: 30;
	flex-direction: column;
}

.box-20 {
	display: flex;
	flex: 20;
	flex-direction: column;
}

.box-10 {
	display: flex;
	flex: 10;
}

